<ul class="nav navbar-nav">

  <li {{if compare .RouterPattern "/"}}class="active"{{end}}>
    <a href="{{urlfor "MainController.Get"}}">首页<span class="sr-only">(current)</span></a>
  </li>


  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      系统配置 <span class="caret"></span>
    </a>

    <ul class="dropdown-menu" role="menu">
      <li {{if compare .RouterPattern "/settings"}}class="active"{{end}}>
        <a href="{{urlfor "SettingsController.Get"}}">配置</a>
      </li>

      <li {{if compare .RouterPattern "/ov/config"}}class="active"{{end}}>
        <a href="{{urlfor "OVConfigController.Get"}}">OpenVPN 配置</a>
      </li>

    </ul>
  </li>

  <li {{if compare .RouterPattern "/certificates"}}class="active"{{end}}>
    <a href="{{urlfor "CertificatesController.Get"}}">证书管理</a>
  </li>

  <li {{if compare .RouterPattern "/logs"}}class="active"{{end}}>
    <a href="{{urlfor "LogsController.Get"}}">日志</a>
  </li>
</ul>